<span class="column col-12 text-center mt-16">
  <h5>Many thanks to our contributors:</h5>
  <ul>
    <li><a href="https://github.com/n-collery">Nicolas Collery</a> for ideas, talks and trainings</li>
    <li><a href="https://github.com/xme">Xavier Mertens</a> for ideas, talks and code</li>
    <li><a href="https://github.com/1wxyz">Wayne Lee</a> for testing and debugging</li>
    <li><a href="https://github.com/melorium">Dennis</a> for ideas and bug-reporting</li>
    <li><a href="https://github.com/frentzen2003">Frentzen Navaro</a> for implementation of several new features</li>
    <li><a href="https://www.psb-academy.edu.sg">PSB Academy in Singapore</a> for the opportunity to work on the project with their students</li>
  </ul>
</span>
